.main-container{
    display: flex;
    border-right: 1px solid rgb(75, 71, 71);
    border-bottom: 1px solid rgb(75, 71, 71);
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 250px;
    
}
.imgStyle{
    width: 300px;
    border-radius: 5px;
    cursor: pointer;
}
.text-container{
    margin-left: 9px;
}
.text-container h3{
    color: rgb(109, 109, 231);
    cursor: pointer;
}
.btn{
   font-size: 18px;
   font-weight: 600;
   cursor: pointer;
}